h1{
    color: navy;
}
body{
    background-color: lightblue;
}
label{
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
input{
    width: 30%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
}
button{
    width: 40%;
    padding: 10px;
    margin-top: 5px;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    background-color: lightsteelblue
    
}
button:hover{
    background-color: cornflowerblue;
}